ul {
  list-style: none;
}

.burger {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #f2f2f2;

  width: 589px;
  height: 982px;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(32, 30, 30, 0.562);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 117px;
}

.link {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;

  text-decoration: none;
  color: rgba(138, 107, 167, 0.35);
}

.active {
  color: #8a6ba7;
}

.closeBtn {
  position: absolute;
  top: 34px;
  right: 39px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 32px;

  border: none;
  cursor: pointer;
}
