.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 90px 150px;
  border-radius: 20px;
  width: 965px;
  height: 838px;

  color: #270101;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(32, 30, 30, 0.562);
}

.bold {
  font-weight: 900;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  color: #270101;
}

.emailP {
  margin-top: 15px;

  font-weight: 400;
  font-size: 34px;
  text-align: center;
  color: #270101;

  width: 540px;
}

.emailSpan {
  font-weight: 500;
  color: #ab1c12;
}

.redSpiralImg {
  margin-top: 22px;
}

.questionP {
  margin-top: 10px;

  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #270101;

  width: 620px;
}

.parting {
  composes: bold;
  margin-top: 17px;
}

.modalBtn {
  border-radius: 20px;
  padding: 11px 0;
  width: 303px;
  height: 66px;

  font-weight: 500;
  font-size: 22px;

  border: none;
  cursor: pointer;
}

.buttonsContainer {
  margin-top: 37px;
  width: 666px;
  display: flex;
  justify-content: space-between;
}

.thankYouBtn {
  composes: modalBtn;
  background: #ab1c12;
  color: #f2f2f2;
}

.additionalQuestionBtn {
  composes: modalBtn;
  border: 1px solid #ab1c12;
}
